<!DOCTYPE html>
<html>
<head>
    <title>Configuração</title>
</head>
<body>

<h1>Configurar Switch</h1>

/aplicar

    <label>Hostname</label>
    <input type="text"
           name="hostname"
           value="SWITCH_AUTOMATIZADO">

    <br><br>

    <label>VLAN 10</label>
    <input type="text"
           name="vlan10"
           value="VLAN_DADOS">

    <br><br>

    <label>VLAN 20</label>
    <input type="text"
           name="vlan20"
           value="VLAN_VOZ">

    <br><br>

    <label>VLAN 50</label>
    <input type="text"
           name="vlan50"
           value="VLAN_SEGURANCA">

    <br><br>

    <button type="submit">
        Aplicar Configuração
    </button>

</form>

</body>
</html>
